<%= render DS::Dialog.new(variant: "drawer", frame: "bulk_transaction_edit_drawer") do |dialog| %>
  <% dialog.with_header(title: "批量编辑交易", data: { bulk_select_target: "bulkEditDrawerHeader" }) %>

  <% dialog.with_body do %>
    <%= styled_form_with url: transactions_bulk_update_path, scope: "bulk_update", class: "h-full flex flex-col justify-between gap-4", data: { turbo_frame: "_top" } do |form| %>
      <div class="space-y-4">
        <%= render DS::Disclosure.new(title: "概览", open: true) do %>
          <div class="pb-6 space-y-2">
            <%= form.date_field :date, label: "日期", max: Date.current %>
          </div>
        <% end %>

        <%= render DS::Disclosure.new(title: "交易", open: true) do %>
          <div class="space-y-2">
            <%= form.collection_select :category_id, Current.family.categories.alphabetically, :id, :name, { prompt: "选择分类", label: "分类", class: "text-subdued" } %>
            <%= form.collection_select :merchant_id, Current.family.merchants.alphabetically, :id, :name, { prompt: "选择商家", label: "商家", class: "text-subdued" } %>
            <%= form.select :tag_ids, Current.family.tags.alphabetically.pluck(:name, :id), { include_blank: "无", multiple: true, label: "标签", container_class: "h-40" } %>
            <%= form.text_area :notes, label: "备注", placeholder: "输入备注（将应用到所有选中的交易）", rows: 5 %>
          </div>
        <% end %>
      </div>

      <div class="flex justify-end gap-2 mt-auto">
        <%= render DS::Button.new(text: "取消", variant: "ghost", data: { action: "click->dialog#close" }) %>
        <%= render DS::Button.new(text: "保存", data: { bulk_select_scope_param: "bulk_update", action: "bulk-select#submitBulkRequest" }) %>
      </div>
    <% end %>
  <% end %>
<% end %>
