<% content_for :page_header do %>
  <% unless Current.family.self_hoster? %>
    <div class="bg-gray-100 mb-4 rounded-xl p-4 flex gap-2 items-start">
      <%= icon "triangle-alert", color: "warning" %>
      <div class="text-sm space-y-2">
        <p class="font-medium">我们做出了一个艰难的决定，关闭 Maybe 的托管版本。以下是接下来的安排：</p>
        <ul class="list-disc list-inside space-y-1 ml-2">
          <li><%= link_to "点击此处了解原因", "https://x.com/Shpigford/status/1947725345244709240", class: "underline" %></li>
          <li>您将获得全额退款。</li>
          <li>您有时间至 2025 年 7 月 31 日导出数据，可在<%= link_to "此处", settings_profile_path, class: "underline" %>操作。</li>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="space-y-1 mb-6 flex gap-4 justify-between items-center lg:items-start">

    <div class="space-y-1">
      <h1 class="text-xl lg:text-3xl font-medium text-primary"><%= t(".greet") %><%= Current.user.first_name %> <%= Current.user.last_name %></h1>
      <p class="text-sm lg:text-base text-secondary"><%= t(".desc") %></p>
    </div>

    <%= render DS::Link.new(
      icon: "plus",
      text: t(".new"),
      href: new_account_path,
      frame: :modal,
      class: "hidden lg:inline-flex"
    ) %>

    <%= render DS::Link.new(
        variant: "icon-inverse",
        icon: "plus",
        href: new_account_path,
        frame: :modal,
        class: "rounded-full lg:hidden"
      ) %>
  </div>
<% end %>

<div class="w-full space-y-6 pb-24">
  <% if Current.family.accounts.any? %>
    <section class="bg-container py-4 rounded-xl shadow-border-xs">
      <%= render partial: "pages/dashboard/net_worth_chart", locals: {
        balance_sheet: @balance_sheet,
        period: @period,
        current_user: @current_user
      } %>
    </section>
    <section>
      <%= render "pages/dashboard/balance_sheet", balance_sheet: @balance_sheet %>
    </section>

    <%= turbo_frame_tag "cashflow_sankey_section" do %>
      <section class="bg-container py-4 rounded-xl shadow-border-xs">
        <%= render partial: "pages/dashboard/cashflow_sankey", locals: {
          sankey_data: @cashflow_sankey_data,
          period: @cashflow_period
        } %>
      </section>
    <% end %>
  <% else %>
    <section>
      <%= render "pages/dashboard/no_accounts_graph_placeholder" %>
    </section>
  <% end %>
</div>
