<%# locals: (rule:) %>
<div id="<%= dom_id(rule) %>" class="flex justify-between items-center p-4 hover:bg-surface-hover transition-colors <%= rule.active? ? "text-primary" : "text-secondary" %>">

  <div class="text-sm space-y-1.5">
    <% if rule.name.present? %>
      <h3 class="font-medium text-md"><%= rule.name %></h3>
    <% end %>
    <% if rule.conditions.any? %>
      <div class="flex items-center gap-2 mt-1">
        <div class="flex items-center gap-1 text-secondary w-16 shrink-0">
          <span class="font-mono text-xs">IF</span>
        </div>
        <p class="flex items-center flex-wrap gap-1.5 m-0">
          <span class="px-2 py-1 border border-secondary rounded-full">
            <% if rule.conditions.first.compound? %>
              <%= rule.conditions.first.sub_conditions.first.filter.label %> <%= rule.conditions.first.sub_conditions.first.operator %> <%= rule.conditions.first.sub_conditions.first.value_display %>
            <% else %>
              <%= rule.conditions.first.filter.label %> <%= rule.conditions.first.operator %> <%= rule.conditions.first.value_display %>
            <% end %>
          </span>
          <% if rule.conditions.count > 1 %>
            及其他 <%= rule.conditions.count - 1 %> 个条件
          <% end %>
        </p>
      </div>
    <% end %>
    <div class="flex items-center gap-2 mt-1">
      <div class="flex items-center gap-1 text-secondary w-16 shrink-0">
        <span class="font-mono text-xs">THEN</span>
      </div>
      <p class="flex items-center flex-wrap gap-1.5 m-0">
        <span class="px-2 py-1 border border-secondary rounded-full">
          <% if rule.actions.first.value && rule.actions.first.options %>
            <%= rule.actions.first.executor.label %> to <%= rule.actions.first.value_display %>
          <% else %>
            <%= rule.actions.first.executor.label %>
          <% end %>
        </span>
        <% if rule.actions.count > 1 %>
          及其他 <%= rule.actions.count - 1 %> 个操作
        <% end %>
      </p>
    </div>
    <div class="flex items-center gap-2 mt-1">
      <div class="flex items-center gap-1 text-secondary w-16 shrink-0">
        <span class="font-mono text-xs">FOR</span>
      </div>
      <p class="flex items-center flex-wrap gap-1.5 m-0">
        <span class="px-2 py-1 border border-secondary rounded-full">
          <% if rule.effective_date.nil? %>
            所有历史和未来的<%= rule.resource_type == 'transaction' ? '交易' : rule.resource_type %>
          <% else %>
            <%= rule.effective_date.strftime("%Y-%m-%d") %> 及之后的<%= rule.resource_type == 'transaction' ? '交易' : rule.resource_type %>
          <% end %>
        </span>
      </p>
    </div>
  </div>
  <div class="flex items-center gap-4">
    <%= styled_form_with model: rule, namespace: "rule_#{rule.id}", data: { controller: "auto-submit-form" } do |f| %>
      <%= f.toggle :active, { data: { auto_submit_form_target: "auto" } } %>
    <% end %>
    <%= render DS::Menu.new do |menu| %>
      <% menu.with_item(variant: "link", text: "编辑", href: edit_rule_path(rule), icon: "pencil", data: { turbo_frame: "modal" }) %>
      <% menu.with_item(variant: "link", text: "重新应用规则", href: confirm_rule_path(rule), icon: "refresh-cw", data: { turbo_frame: "modal" }) %>
      <% menu.with_item(
        variant: "button",
        text: "删除",
        href: rule_path(rule),
        icon: "trash-2",
        method: :delete,
        confirm: CustomConfirm.new(title: "删除规则？", body: "确定要删除此规则吗？此操作不可逆。", btn_text: "删除规则", destructive: true)) %>
    <% end %>
  </div>
</div>
